/******* GENERAL STYLES *******/

:root {
    --aside-blue: #012E58;
    --body-background: #f0f3f4;
    --titles-grey: #3e3e3e;
    --links-hover: #d4d8d9;
    --cover-background: #f5f5f5;
}

body {
    background-color: var(--body-background);  
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    width: 90%;
    justify-content: center;
}

aside, section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

aside {
    flex: 1;
    max-width: 30%;
    background-color: var(--aside-blue);
    color: var(--body-background);
}

section {
    flex: 2;
    max-width: 70%;
    background-color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-top: 25px;
    margin-bottom: 15px;
}

h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 1em;
    margin-bottom: 25px;
    margin-top: 15px;
    color: var(--titles-grey);
}

h3 {
    border-bottom: 2px solid var(--aside-blue);
    padding-bottom: 5px;
    margin-bottom: 0;
}

/*********** ASIDE ***********/

.aside-info-container {
    width: 85%;
}

.aside-containers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 300;
}

.aside-photo {
    display: flex;
    margin-top: 30px;
}

#photo-cv {
    width: 125px;
    border: 2px solid var(--body-background);
    border-radius: 8px;
}

.aside-contact {
    list-style: none;
    padding: 0;
}

.aside-contact li {
    display: flex;
    align-items: center;
    gap: 0.5em;       
    margin-bottom: 0.3em;
}

.aside-contact a {
    text-decoration: none;
    color: white;
}

.aside-contact a:hover {
    color: var(--links-hover);
}

.aside-skills, .aside-languages, .aside-soft-skills {
    padding-left: 1.2em;
}

.aside-skills li, .aside-languages li, .aside-soft-skills li {
    margin-bottom: 0.3em;
}

/********** SECTION **********/

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cover-background);
    margin-top: 15px;
    margin-bottom: 10px;
}

.cover,
.section-summary,
.section-experience,
.section-experience-title {
    width: 95%;
}

.cover-line {
    width: 150px;
    border-bottom: 1px solid var(--titles-grey);
    margin: 0;
}

.section-summary, .section-experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-summary {
    margin-bottom: 19px;
}

.section-subtitle {
    color: var(--aside-blue);
}

.summary-text {
    margin-bottom: 0;
}

.section-experience-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-first-title, .experience-date {
    margin-bottom: 0;
    margin-top: 16px;
}

.experience-date {
    color: var(--aside-blue);
    font-weight: 500;
    font-style: italic;
}

.experience-second-title {
    margin-top: 0;
    margin-bottom: 0;
}

.section-experience-list li {
    margin-bottom: 0.3em;
}

/***** MEDIA QUERY: <= 1080px *****/

@media (max-width: 1080px) {
    
    /**** GENERAL STYLES ****/

    main {
        width: 95%;
        max-width: 1000px;
    }
    
    aside, section {
    justify-content: flex-start;
    }

    aside {
        gap: 3rem
    }

    h1 {
        font-size: 1.7em;
        margin-top: 1.2rem;
        margin-bottom: 0.8rem;
    }

    h2 {
        font-size: 0.95em;
        margin-top: 0.8rem;
        margin-bottom: 1.2rem;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 0.9em;
    }

    p {
        font-size: 0.95em;
    }

    /**** ASIDE ****/

    .aside-containers {
    font-size: 0.9em;
}

    .aside-info-container {
        width: 90%;
    }

    #photo-cv {
        width: 110px;
    }

    .aside-contact li {
        gap: 0.4rem;
        font-size: 0.9em;
    }

    /**** SECTION ****/

    .section-experience-list {
    font-size: 0.95em;
}

}